
/* Your CSS Code here. */
.holder{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.items{
	height: 100px;
	width: 100px;
}
.item-1{
	background-color: green;
}
.item-2{
	background-color: red;
}
.item-3{
	background-color: blue;
}